<div class="gotools-clarity-menu">
    <div class="gotools-clarity-menu-header">
        <div class="gotools-clarity-menu-title gotools-clarity-translate">
            Accessibility Menu
        </div>
        <div style="gap:12px;">
            <div role="button" class="gotools-clarity-menu-reset"  title="Reset settings" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 4c2.1 0 4.1.8 5.6 2.3 3.1 3.1 3.1 8.2 0 11.3a7.78 7.78 0 0 1-6.7 2.3l.5-2c1.7.2 3.5-.4 4.8-1.7a6.1 6.1 0 0 0 0-8.5A6.07 6.07 0 0 0 12 6v4.6l-5-5 5-5V4M6.3 17.6C3.7 15 3.3 11 5.1 7.9l1.5 1.5c-1.1 2.2-.7 5 1.2 6.8.5.5 1.1.9 1.8 1.2l-.6 2a8 8 0 0 1-2.7-1.8Z"/>
                </svg>
            </div>
            <div role="button" class="gotools-clarity-menu-close" title="Close" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41Z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="gotools-clarity-menu-content">
        
        <div class="gotools-clarity-card">
            <div class="gotools-clarity-items content">
            </div>
        </div>

        <div class="gotools-clarity-card">
            <!-- <div class="gotools-clarity-card-title">
                Color Adjustments
            </div> -->
            <div class="gotools-clarity-items contrast">
            </div>
        </div>

        <div class="gotools-clarity-card">
            <!-- <div class="gotools-clarity-card-title ">
                Tools
            </div> -->
            <div class="gotools-clarity-items tools">
            </div>
        </div>

        <div class="gotools-clarity-card">
            <!-- <div class="gotools-clarity-card-title">
                Content Adjustments
            </div> -->
            <div class="gotools-clarity-adjust-font">
                <div class="gotools-clarity-label" style="margin:0;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <g id="text-size">
                            <g id="Gruppe_8" data-name="Gruppe 8">
                            <g id="Pfad_23" data-name="Pfad 23">
                                <path d="M17.572,18.75h7.857" style="fill: none; stroke: #000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2px;"/>
                            </g>
                            <g id="Pfad_24" data-name="Pfad 24">
                                <path d="M6.094,20.321h5.7" style="fill: none; stroke: #000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2px;"/>
                            </g>
                            <g id="Pfad_25" data-name="Pfad 25">
                                <path d="M16.076,23.465h-.076l4.889-14.929h1.222l4.889,14.929h-.071" style="fill: none; stroke: #000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2px;"/>
                            </g>
                            <g id="Pfad_26" data-name="Pfad 26">
                                <path d="M5.077,23.464h-.077l3.492-10.215h.873l3.492,10.215h-.08" style="fill: none; stroke: #000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2px;"/>
                            </g>
                            </g>
                        </g>
                    </svg>
                    <div class="gotools-clarity-translate">
                        Adjust Font Size
                    </div>
                </div>
                <div>
                    <div class="gotools-clarity-minus" data-key="font-size" role="button" aria-pressed="false" title="Decrease Font Size" tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M19 13H5v-2h14v2Z"/>
                        </svg>
                    </div>
                    <div class="gotools-clarity-amount" >
                        100%
                    </div>
                    <div class="gotools-clarity-plus" data-key="font-size" role="button" aria-pressed="false" title="Increase Font Size" tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2Z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="gotools-clarity-card">
            <select id="gotools-clarity-language" title="Language" class="gotools-clarity-select"></select>
        </div>

        <small class="license">
            Clarity by
            <a href="https://go-west.at" target="_blank" class="brand" tabindex="-1">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70" height="12" viewBox="0 0 616.1 98.2" style="margin-top:-2px;">
                <defs>
                  <linearGradient id="linear-gradient" x1="0.409" x2="0.623" y2="1" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#00affd"/>
                    <stop offset="1" stop-color="#004acc"/>
                  </linearGradient>
                  <clipPath id="clip-path">
                    <rect id="Rechteck_25" data-name="Rechteck 25" width="25.352" height="19.501" fill="url(#linear-gradient)"/>
                  </clipPath>
                </defs>
                <g id="Gruppe_110" data-name="Gruppe 110" transform="translate(-12241.95 -636.5)">
                  <g id="gowest_logo_color" transform="translate(12241.95 636.5)">
                    <g id="Gruppe_106" data-name="Gruppe 106">
                      <path id="Pfad_145" data-name="Pfad 145" d="M180.4,6.3A48.124,48.124,0,0,0,156.3,0a46.965,46.965,0,0,0-24.2,6.3A45.655,45.655,0,0,0,115,23.8a51.531,51.531,0,0,0-6.2,25.3A52.083,52.083,0,0,0,115,74.4a45.641,45.641,0,0,0,17.1,17.5,49.437,49.437,0,0,0,48.3,0,45.389,45.389,0,0,0,17-17.5,51.531,51.531,0,0,0,6.2-25.3,52.083,52.083,0,0,0-6.2-25.3A44.7,44.7,0,0,0,180.4,6.3Zm2.9,42.8A34.516,34.516,0,0,1,179.8,65a24.375,24.375,0,0,1-9.5,10.3,26.659,26.659,0,0,1-13.9,3.6,27.389,27.389,0,0,1-14.1-3.6A25.153,25.153,0,0,1,132.7,65a34.811,34.811,0,0,1-3.5-15.9,34.516,34.516,0,0,1,3.5-15.9,23.98,23.98,0,0,1,9.6-10.3,27.647,27.647,0,0,1,14.1-3.6,27.279,27.279,0,0,1,14,3.6,25.6,25.6,0,0,1,9.5,10.3A35.825,35.825,0,0,1,183.3,49.1Z"/>
                      <path id="Pfad_146" data-name="Pfad 146" d="M548.1.1V19.2h24.3V95.9h19.3V19.2h24.4V.1Z"/>
                      <path id="Pfad_147" data-name="Pfad 147" d="M387.8,95.9h68V76.7H407V57.5h39.2V38.4H407V19.2h48.8V.1h-68Z"/>
                      <g id="Gruppe_104" data-name="Gruppe 104">
                        <path id="Pfad_148" data-name="Pfad 148" d="M350.8.1,330.3,73.7,307.6.1H286.4L263.7,73.7l-4.5-16.2H239.9l11.8,38.4h23.6L297,27l21.7,68.9h23.6L371.9.1Z"/>
                        <path id="Pfad_149" data-name="Pfad 149" d="M243.2.1H222.1L234,38.4h19.8Z"/>
                      </g>
                      <g id="Gruppe_105" data-name="Gruppe 105">
                        <path id="Pfad_151" data-name="Pfad 151" d="M47.4,38.3v.1l.1-.1Z"/>
                        <path id="Pfad_152" data-name="Pfad 152" d="M47.4,38.4V57.5H73.6A30.217,30.217,0,0,1,71,65a24.375,24.375,0,0,1-9.5,10.3,26.659,26.659,0,0,1-13.9,3.6,27.389,27.389,0,0,1-14.1-3.6A25.153,25.153,0,0,1,23.9,65a34.811,34.811,0,0,1-3.5-15.9,34.516,34.516,0,0,1,3.5-15.9,23.98,23.98,0,0,1,9.6-10.3,27.647,27.647,0,0,1,14.1-3.6,27.279,27.279,0,0,1,14,3.6,24.565,24.565,0,0,1,4,3A18.479,18.479,0,0,1,67,27.3l17.3-10A43.58,43.58,0,0,0,71.7,6.5,45.39,45.39,0,0,0,47.6,0,46.965,46.965,0,0,0,23.4,6.3,45.655,45.655,0,0,0,6.3,23.8,50.413,50.413,0,0,0,0,49,52.083,52.083,0,0,0,6.2,74.3,45.641,45.641,0,0,0,23.3,91.8a47.223,47.223,0,0,0,24.2,6.3,47.119,47.119,0,0,0,24.1-6.3,45.389,45.389,0,0,0,17-17.5A51.531,51.531,0,0,0,94.8,49a52.236,52.236,0,0,0-1-10.6Z"/>
                      </g>
                      <path id="Pfad_153" data-name="Pfad 153" d="M512.6,40.4l-4.9-2.1c-8.6-3.7-13.5-6.8-13.5-11.9,0-3.9,4.9-7.4,10.4-7.4,5.9,0,9.8,2,13.2,6.7l17.5-10.1C528.5,5,518.8,0,504.6,0c-18.2,0-31.9,11.5-31.9,26.8,0,16.9,12.4,23.5,26.3,29.3l4.9,2.1c9.6,4.1,13.8,6.2,13.8,12,0,5.2-5,8.6-12.4,8.6-10.6,0-15.5-6.1-19.4-12.4L468.1,76.7c5.2,9.9,15.9,21.4,37.6,21.4,20.5,0,33.7-11.1,33.7-28.2C539.5,53,529.3,47.5,512.6,40.4Z" fill="#030304"/>
                    </g>
                  </g>
                  <g id="Gruppe_109" data-name="Gruppe 109" transform="translate(12455.598 674.949)">
                    <g id="Gruppe_15" data-name="Gruppe 15" transform="translate(0 0)" clip-path="url(#clip-path)">
                      <path id="Pfad_38" data-name="Pfad 38" d="M6.7,19.35H23.25a1.95,1.95,0,0,0,1.888-2.435L21.295,1.964A1.951,1.951,0,0,0,19.406.5H2.452A1.95,1.95,0,0,0,.576,2.983l4.249,14.95A1.95,1.95,0,0,0,6.7,19.35Z" transform="translate(-0.174 -0.174)" fill="url(#linear-gradient)"/>
                    </g>
                  </g>
                </g>
              </svg>
              </a>
              based on
            <a href="https://github.com/bennyluk/Sienna-Accessibility-Widget" target="_blank" tabindex="-1">Sienna under MIT license</a>
        </small>
    </div>
</div>

<div class="gotools-clarity-overlay">
</div>