<style>
    :root{
        --primary-color: rgb(0, 129, 180);
    }

    *:focus {
        outline: solid 2px var(--primary-color) !important; 
        outline-offset: -2px;
    }
    *:focus:not(:focus-visible) {
        outline: none !important;
    }

    .asw-menu-header *:focus {
        outline: solid 2px white !important; 
        outline-offset: 2px;
    }

    .asw-menu-header *:focus:not(:focus-visible) {
        outline: none !important;
    }

    .asw-menu {
        position: fixed;
        left: 20px;
        top: 20px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition: .3s;
        z-index: 500000;
        overflow: hidden;
        background: #f3f3f3;
        width: 500px;
        line-height: 1;
        font-size: 16px;
        height: calc(100% - 40px);
        letter-spacing: 0.015em;
        border-radius: 12px;
    }

    .asw-menu * {
        color: #000 !important;
        font-family: inherit;
        padding: 0;
        margin: 0;
        line-height: 1 !important;
        letter-spacing: normal !important;
    }

    .asw-menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 18px;
        height: 60px;
        font-weight: 700 !important;
        background-color: var(--primary-color) !important;
    }

    .asw-menu-title {
        font-size: 16px !important;
        color: #fff !important;
    }
    
    .asw-menu-header svg {
        fill: var(--primary-color) !important;
        width: 24px !important;
        height: 24px !important;
        min-width: 24px !important;
        min-height: 24px !important;
        max-width: 24px !important;
        max-height: 24px !important;
    }

    .asw-menu-header > div {
        display: flex;
    }

    .asw-menu-header div[role="button"] {
        background: white !important;
        cursor: pointer;
        border-radius: 50%;
        transition: opacity .3s ease;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .asw-menu-header div[role="button"]:hover {
        opacity: 0.8;
    }

    .asw-card {
        margin: 0 18px 1rem;
    }

    .asw-card-title {
        font-size: 14px !important;
        padding: 15px 0;
        font-weight: 600 !important;
        opacity: 0.8;
    }

    .asw-items {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

    .asw-btn {
        aspect-ratio: 6 / 5;
        border-radius: 12px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #333;
        font-size: 16px !important;
        background: #fff !important;
        border: 2px solid transparent !important;
        transition: border-color 0.2s ease;
        cursor: pointer;
        word-break: break-word;
        gap: 10px;
        position: relative;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    }

    .asw-btn .asw-translate,
    .asw-adjust-font .asw-label div {
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .asw-plus,
    .asw-minus {
        background-color: #EFEFEF !important;
        border: 2px solid transparent;
        transition: border .2s ease;
    }

    
    .asw-plus:hover,
    .asw-minus:hover {
        border-color: var(--primary-color) !important;
    }

    .asw-amount {
        font-size: 18px !important;
        font-weight: 600 !important;
    }

    .asw-adjust-font svg {
        width: 24px !important;
        height: 24px !important;
        min-width: 24px !important;
        min-height: 24px !important;
        max-width: 24px !important;
        max-height: 24px !important;
    }
    
    .asw-label svg,
    .asw-btn svg {
        width: 32px !important;
        height: 32px !important;
        min-width: 32px !important;
        min-height: 32px !important;
        max-width: 32px !important;
        max-height: 32px !important;
    }

    .asw-btn:hover {
        border-color: var(--primary-color) !important;
    }

    .asw-btn.asw-selected {
        background-color: var(--primary-color) !important;
    }

    .asw-btn.asw-selected svg,
    .asw-btn.asw-selected span {
        fill: white !important;
        color: white !important;
    }

    html.aws-filter .asw-btn.asw-selected svg {
        background-color: transparent !important;
    }

    .asw-menu .asw-select {
        width: 100%;
        padding: 0.5em 3.5em 0.5em 1em;
        font-size: 16px;
        font-family: inherit;
        font-weight: 600;
        display: inline-block;
        border-radius: 12px;
        background: #fff;
        border: none;
        min-height: 45px;
        max-height: 45px;
        height: 45px;
        color: inherit;
        margin: 0;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        border: 2px solid transparent !important;
        transition: border-color 0.2s ease;

        background-image:
                linear-gradient(45deg, transparent 50%, black 50%),
                linear-gradient(135deg, black 50%, transparent 50%);
        background-position:
                calc(100% - 20px) calc(1em + 2px),
                calc(100% - 15px) calc(1em + 2px),
                calc(100% - 2.5em) 0.5em;
        background-size:
                5px 5px,
                5px 5px,
                1px 1.5em;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .asw-menu .asw-select:hover {
        border-color: var(--primary-color) !important;
    }

    .asw-menu .asw-select:focus {
        background-image:
                linear-gradient(45deg, black 50%, transparent 50%),
                linear-gradient(135deg, transparent 50%, black 50%);
        background-position:
                calc(100% - 15px) 1em,
                calc(100% - 20px) 1em,
                calc(100% - 2.5em) 0.5em;
        background-size:
                5px 5px,
                5px 5px,
                1px 1.5em;
        background-repeat: no-repeat;
        outline-offset: -2px;
    }

    .asw-menu-content {
        overflow: scroll;
        max-height: calc(100% - 60px);
        padding: 20px 0 15px;
    }

    .asw-adjust-font {
        background: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 12px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    }

    .asw-adjust-font .asw-label {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
    }

    .asw-adjust-font > div {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        align-items: center;
        font-size: 15px;
    }

    .asw-adjust-font .asw-label div {
        font-size: 15px !important;
    }

    .asw-adjust-font div[role="button"] {
        background: #EFEFEF !important;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .asw-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
    }

    .contribution {
        padding: 8px 15px 0px 15px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contribution a {
        text-decoration: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-weight: 600 !important;
        flex-direction: column;
        border-radius: 12px;
        padding: 8px 15px;
    }

    .license {
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
        display: block;
    }

    .license a {
        text-decoration: none !important;
        border-radius: 12px;
        padding: 2px 8px;
        color: #aaaaaa !important;
    }

    .license:hover a {
        color: #999999 !important;
    }

    @media only screen and (max-width: 560px) {
        .asw-menu {
            width: calc(100% - 40px);
        }
    }

    @media only screen and (max-width: 420px) {
        .asw-items {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0.5rem;
        }
    }

    .asw-widget,
    .asw-menu {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
    }

    .asw-widget *,
    .asw-menu * {
        box-sizing: border-box !important;
    }

    .asw-menu-btn {
        position: fixed;
        z-index: 500000;
        left: 30px;
        bottom: 30px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        transition: transform .2s ease;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        width: 58px;
        height: 58px;
        display: flex;
        cursor: pointer;
        text-decoration: none !important;
        background: var(--primary-color) !important;
        outline-offset: 2px;
    }

    .asw-menu-btn svg {
        width: 36px;
        height: 36px;
        min-height: 36px;
        min-width: 36px;
        max-width: 36px;
        max-height: 36px;
        background: transparent !important;
    }

    .asw-menu-btn:hover {
        transform: scale(1.05);
    }

    @media only screen and (max-width: 768px) {
        .asw-menu-btn {
            width: 42px;
            height: 42px;
        }

        .asw-menu-btn svg {
            width: 26px;
            height: 26px;
            min-height: 26px;
            min-width: 26px;
            max-width: 26px;
            max-height: 26px;
        }
    }
</style>
<div class="gowest-accessibility-widget asw-widget">
    <a href="https://go-west.at" target="_blank" class="asw-menu-btn" title="Open Accessibility Menu" role="button" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" style="fill:white;" viewBox="0 0 24 24" width="30px" height="30px" ><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20.5 6c-2.61.7-5.67 1-8.5 1s-5.89-.3-8.5-1L3 8c1.86.5 4 .83 6 1v13h2v-6h2v6h2V9c2-.17 4.14-.5 6-1l-.5-2zM12 6c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"/></svg>
    </a>
</div>