<style>
    *:focus {
        outline: solid 2px var(--gotools-clarity-primary-color) !important; 
        outline-offset: -2px;
    }
    *:focus:not(:focus-visible) {
        outline: none !important;
    }

    .gotools-clarity-menu-header *:focus {
        outline: solid 2px white !important; 
        outline-offset: 2px;
    }

    .gotools-clarity-menu-header *:focus:not(:focus-visible) {
        outline: none !important;
    }

    .gotools-clarity-menu {
        position: fixed;
        left: 20px;
        bottom: 20px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition: .3s;
        z-index: 500000;
        overflow: hidden;
        background: #f3f3f3;
        width: 500px;
        line-height: 1;
        font-size: 16px;
        max-height: calc(100% - 40px);
        height: fit-content;
        letter-spacing: 0.015em;
        border-radius: var(--gotools-clarity-border-radius);
        display: flex;
        flex-direction: column;
    }

    .gotools-clarity-menu * {
        color: #000 !important;
        font-family: var(--gotools-clarity-font-family);
        padding: 0;
        margin: 0;
        line-height: 1 !important;
        letter-spacing: normal !important;
    }

    .gotools-clarity-menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 18px;
        height: 60px;
        font-weight: 700 !important;
        background: var(--gotools-clarity-gradient-color) no-repeat bottom right !important;
        background-size: 200%, 100% !important;
        flex-shrink: 0;
    }

    .gotools-clarity-menu-title {
        font-size: 16px !important;
        color: #fff !important;
    }
    
    .gotools-clarity-menu-header svg {
        fill: var(--gotools-clarity-primary-color) !important;
        width: 24px !important;
        height: 24px !important;
        min-width: 24px !important;
        min-height: 24px !important;
        max-width: 24px !important;
        max-height: 24px !important;
    }

    .gotools-clarity-menu-header > div {
        display: flex;
    }

    .gotools-clarity-menu-header div[role="button"] {
        background: white !important;
        cursor: pointer;
        border-radius: 50%;
        transition: opacity .3s ease;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gotools-clarity-menu-header div[role="button"]:hover {
        opacity: 0.8;
    }

    .gotools-clarity-card {
        margin: 0 18px 1rem;
    }

    @media only screen and (max-width: 420px) {
        .gotools-clarity-card {
            margin: 0 18px 0.5rem;
        }
    }

    .gotools-clarity-card-title {
        font-size: 14px !important;
        padding: 15px 0;
        font-weight: 600 !important;
        opacity: 0.8;
    }

    .gotools-clarity-items {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

    .gotools-clarity-btn {
        aspect-ratio: 6 / 5;
        border-radius: var(--gotools-clarity-border-radius);
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #333;
        font-size: 16px !important;
        background: #fff !important;
        border: 2px solid transparent !important;
        transition: border-color 0.2s ease;
        cursor: pointer;
        word-break: break-word;
        gap: 10px;
        position: relative;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        background-clip: border-box !important;
    }

    .gotools-clarity-btn .gotools-clarity-translate,
    .gotools-clarity-adjust-font .gotools-clarity-label div {
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .gotools-clarity-plus,
    .gotools-clarity-minus {
        background-color: #EFEFEF !important;
        border: 2px solid transparent;
        transition: border .2s ease;
    }

    
    .gotools-clarity-plus:hover,
    .gotools-clarity-minus:hover {
        border-color: var(--gotools-clarity-primary-color) !important;
    }

    .gotools-clarity-amount {
        font-size: 18px !important;
        font-weight: 600 !important;
    }

    .gotools-clarity-adjust-font svg {
        width: 24px !important;
        height: 24px !important;
        min-width: 24px !important;
        min-height: 24px !important;
        max-width: 24px !important;
        max-height: 24px !important;
    }
    
    .gotools-clarity-label svg,
    .gotools-clarity-btn svg {
        width: 32px !important;
        height: 32px !important;
        min-width: 32px !important;
        min-height: 32px !important;
        max-width: 32px !important;
        max-height: 32px !important;
    }

    .gotools-clarity-btn:hover {
        border-color: var(--gotools-clarity-primary-color) !important;
    }

    .gotools-clarity-btn.gotools-clarity-selected {
        background: var(--gotools-clarity-primary-color) !important;
    }

    .gotools-clarity-btn.gotools-clarity-selected svg,
    .gotools-clarity-btn.gotools-clarity-selected span {
        fill: white !important;
        color: white !important;
    }

    html.aws-filter .gotools-clarity-btn.gotools-clarity-selected svg {
        background-color: transparent !important;
    }

    .gotools-clarity-menu .gotools-clarity-select {
        width: 100%;
        padding: 0.5em 3.5em 0.5em 1em;
        font-size: 16px;
        font-family: var(--gotools-clarity-font-family);
        font-weight: 600;
        display: inline-block;
        border-radius: var(--gotools-clarity-border-radius);
        background: #fff;
        border: none;
        min-height: 45px;
        max-height: 45px;
        height: 45px;
        color: inherit;
        margin: 0;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        border: 2px solid transparent !important;
        transition: border-color 0.2s ease;

        background-image:
                linear-gradient(45deg, transparent 50%, black 50%),
                linear-gradient(135deg, black 50%, transparent 50%);
        background-position:
                calc(100% - 20px) calc(1em + 2px),
                calc(100% - 15px) calc(1em + 2px),
                calc(100% - 2.5em) 0.5em;
        background-size:
                5px 5px,
                5px 5px,
                1px 1.5em;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .gotools-clarity-menu .gotools-clarity-select:hover {
        border-color: var(--gotools-clarity-primary-color) !important;
    }

    .gotools-clarity-menu .gotools-clarity-select:focus {
        background-image:
                linear-gradient(45deg, black 50%, transparent 50%),
                linear-gradient(135deg, transparent 50%, black 50%);
        background-position:
                calc(100% - 15px) 1em,
                calc(100% - 20px) 1em,
                calc(100% - 2.5em) 0.5em;
        background-size:
                5px 5px,
                5px 5px,
                1px 1.5em;
        background-repeat: no-repeat;
        outline-offset: -2px;
    }

    .gotools-clarity-menu-content {
        overflow: auto;
        height: auto;
        padding: 20px 0 15px;
        flex-grow: 1;
    }

    .gotools-clarity-adjust-font {
        background: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: var(--gotools-clarity-border-radius);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    }

    .gotools-clarity-adjust-font .gotools-clarity-label {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
    }

    .gotools-clarity-adjust-font > div {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        align-items: center;
        font-size: 15px;
    }

    .gotools-clarity-adjust-font .gotools-clarity-label div {
        font-size: 15px !important;
    }

    .gotools-clarity-adjust-font div[role="button"] {
        background: #EFEFEF !important;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .gotools-clarity-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
    }

    .contribution {
        padding: 8px 15px 0px 15px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contribution a {
        text-decoration: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-weight: 600 !important;
        flex-direction: column;
        border-radius: var(--gotools-clarity-border-radius);
        padding: 8px 15px;
    }

    .license {
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
        display: block;
        padding: 2px 18px;
        color: #aaaaaa !important;
    }

    .license a {
        text-decoration: none !important;
        border-radius: var(--gotools-clarity-border-radius);
        color: #aaaaaa !important;
    }

    .license .brand {
        padding-left: 4px;
        padding-right: 4px;
        opacity: 0.3;
        transition: opacity .2s ease;
    }

    .license .brand:hover {
        opacity: 1;
    }

    .license .brand svg {
        margin-top: -2px;
    }

    @media only screen and (max-width: 560px) {
        .gotools-clarity-menu {
            width: calc(100% - 40px);
        }
    }

    @media only screen and (max-width: 420px) {
        .gotools-clarity-items {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0.5rem;
        }
    }

    .gotools-clarity-widget,
    .gotools-clarity-menu {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
    }

    .gotools-clarity-widget *,
    .gotools-clarity-menu * {
        box-sizing: border-box !important;
    }

    .gotools-clarity-menu-btn {
        position: fixed;
        z-index: 500000;
        left: 30px;
        bottom: 30px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        transition: transform .2s ease;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        display: flex;
        cursor: pointer;
        text-decoration: none !important;
        background: var(--gotools-clarity-gradient-color) !important;
        outline-offset: 2px;
    }

    .gotools-clarity-menu-btn svg {
        width: 32px;
        height: 32px;
        min-height: 32px;
        min-width: 32px;
        max-width: 32px;
        max-height: 32px;
        background: transparent !important;
    }

    .gotools-clarity-menu-btn:hover {
        transform: scale(1.05);
    }

    @media only screen and (max-width: 768px) {
        .gotools-clarity-menu-btn {
            width: 42px;
            height: 42px;
        }

        .gotools-clarity-menu-btn svg {
            width: 26px;
            height: 26px;
            min-height: 26px;
            min-width: 26px;
            max-width: 26px;
            max-height: 26px;
        }
    }
</style>
<div class="gotools-clarity-widget">
    <a href="https://go-west.at" target="_blank" class="gotools-clarity-menu-btn" title="Open Accessibility Menu" role="button" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#EEEEEE" viewBox="0 0 256 256"><path d="M100,36a28,28,0,1,1,28,28A28,28,0,0,1,100,36ZM227.6,92.57A15.7,15.7,0,0,0,212,80H44a16,16,0,0,0-6.7,30.53l.06,0,53.89,23.73-21.92,83.3a16,16,0,0,0,7.9,20.91A15.83,15.83,0,0,0,84,240a16,16,0,0,0,14.44-9.06L128,180l29.58,51a16,16,0,0,0,29.07-13.35l-21.92-83.3,54-23.76A15.7,15.7,0,0,0,227.6,92.57Z"></path></svg>
    </a>
</div>